body {
  margin: 0;
}
.calc-box{
  width: 232px;
  height: 320px;
}

.top-row{
  border: 1px solid grey;
  height: 80px;
}

button {
width: 57px;
height: 47px;
background-color: #F1923D;
}

.bottom-0{
  width: 114px;
  height: 47px;
}
